@keyframes swellAndEbb {
  0% {
    color: #000;
  }

  20% {
    color: #333;
  }

  35% {
    color: #777;
    font-style: italic;
  }

  45% {
    color: #000;
  }

  100% {
    color: #000;
  }
}

.swellAndEbb {
  animation-duration: 4.5s;
  animation-name: swellAndEbb;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
